{% extends "baseTemplate.html"%}

{% block content %}

<script type="text/javascript">
  function yesnoCheck() {
    if (document.getElementById('outputDataFlag').checked) {
      document.getElementById('testDataFields').style.display = 'block';
    } else document.getElementById('testDataFields').style.display = 'none';
  }
</script>

<script type="text/javascript">
  function featuresToExclude() {
    if (document.getElementById('haveFeaturesToExclude').checked) {
      document.getElementById('featuresToExcludeDiv').style.display = 'block';
    } else document.getElementById('featuresToExcludeDiv').style.display = 'none';
  }
</script>

<br>
<br>
<br>
<br>
<h2 class="text-center">Nimbus AI</h2>
<div class="card card-1  text-md-center" id="card1">

  <div class="card-body">
    <div class="container-fluid">
      <div class="row justify-content-md-center">

        <form action="/load_nimbus" method="POST" role="form" enctype="multipart/form-data" class="needs-validation" novalidate>
          <div class="form-row">
            <div class="form-group col-md-3">
              <input type="text" class="form-control" name="name" placeholder="Your Name">
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="form-control" name="project_name" placeholder="Project Name" required>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" placeholder="Email Address">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" required>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="form-control" name="target_feature" placeholder="Target Feature Name" required>
            </div>
            <div class="form-group col-md-3">
              <select name="inputState" class="form-control" required>
                <option selected>Classification</option>
                <option>Regression</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="isHavingIndexCol" id="isHavingIndexCol" value="yes">
              <label class=" form-check-label" for="exampleRadios1">
                Is the first Column Index ??
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="haveFeaturesToExclude" id="haveFeaturesToExclude" value="yes" onclick="javascript:featuresToExclude();"">
              <label class=" form-check-label" for="exampleRadios2">
              Have any features to Exclude ??
              </label>
            </div>
          </div>
          <div id="featuresToExcludeDiv" style="display:none">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="features_to_exclude_list" placeholder="Features to Exclude in Output file as , seperated">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="outputDataFlag" id="outputDataFlag" value="yes" onclick="javascript:yesnoCheck();">
              <label class=" form-check-label" for="exampleRadios1">
                Have test dataset ??
              </label>
            </div>
          </div>

          <div id="testDataFields" style="display:none">
            <div class="form-row">
              <div class="form-group col-md-6">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="test_file" id="test_input_file">
                  <label class="custom-file-label" for="inputGroupFile02">Choose test data file</label>
                </div>
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="target_features_to_include" placeholder="Features to include in Output file as , seperated">
              </div>
            </div>
          </div>

          <center>
            <button type="submit" class="btn btn-success">Run Nimbus</button>
          </center>
          <!-- <a class="btn btn-lg btn-block btn-primary" href="/nimbus" role="button">Run Nimbus</a> -->
          <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>


<!-- <script>
  $('.test_input_file').on('change', function() {
    //get the file name
    var fileName = $(this).val();
    //replace the "Choose a file" label
    $(this).next('.custom-file-label').html(fileName);
  })
</script> -->

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>





{%endblock%}